[Unit]
Description="Run a script to delete image and video files from the user's folder."
StartLimitIntervalSec=0

[Service]
ExecStart=/usr/local/bin/delete-images-and-videos.sh
